*{
    font-family: Montserrat;


}
.container-fluid{
    padding:0px;
}
.rectangle{
    /* Rectangle 1 */
    min-height: 80px;
    background: #F5F5F5;
}
.rectangle a{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    /* emphasis 2 */
    color: #385A64;

}

.rectangle button{
    box-sizing: border-box;
    width: 100px;
    /* emphasis */
    
    border: 1.5px solid #FF725C;
    border-radius: 100px;
    color:red;
    margin-right: 10px;
}

.row button{
    width: 170px;
    height: 50px;
    left: 15px;
    top: 539px;
    font-size: 18px;
    font-weight: bold;


    /* emphasis */

    background: #FF725C;
    border-radius: 100px;
    color: white;
}
.content{
    margin-top: 102px;
}
.content p {
    margin-top: 0;
}
  
.content h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0.01em;
    text-align: left;

}
.content li{
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.01em;
    text-align: left;

}

.fa-icon{
    background-color:#FAFAFA
}
.about {
    display: flex;
    justify-content: space-between;
  }
  
.about i {
    width: 100px;
    height: 100px;
    background: #FAFAFA;
    border-radius: 100px;
}
  
.about h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 128.4%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #1A2E35;
}
  
.about p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 128.4%;
    text-align: center;
    color: #1A2E35;
}
  


.contentThree h6{
    left: 316px;
    top: 1102px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 128.9%;
    
    /* or 31px */
    letter-spacing: 0.01em;
    text-transform: uppercase;
    
    /* text */
    color: #1A2E35;
    
    
}

.contentFour h6{
    /* width: 470px; */
    height: 61px;
    left: 316px;
    top: 1553px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 128.9%;
    /* or 31px */
    
    letter-spacing: 0.01em;
    text-transform: uppercase;
    
    /* text */
    
    color: #1A2E35;
}

.contentFive h6{
    width: 401px;
    height: 62px;
    left: 852px;
    top: 2038px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 128.9%;
    /* or 31px */
    
    letter-spacing: 0.01em;
    text-transform: uppercase;
    
    /* text */
    
    color: #1A2E35;
    
}

.contentSix{
    text-align: center;
}

.text-celeb h6{
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 128.9%;
    /* or 24px */

    letter-spacing: 0.01em;
    text-transform: uppercase;

    /* text */

    color: #1A2E35;
    text-align: center;
}
.pagination-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.pagination-dots .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

.pagination-dots .dot.active {
    background-color: #000;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: 18px;
    background: #fff;
    width: 300px;
    padding: 40px;
    border-radius: 10px;
}

.swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}
  
.swiper-button-next {
    right: 0;
  }
  
.swiper-button-prev {
    left: 0;
}
  

.profile-image {
    flex: 0 0 30%;
    max-width: 100px;
}

.content {
    flex: 0 0 70%;
}
.btn-login button{
    width:170px;
    border-radius: 25px;
    border: 2px solid #FF725C;
    background-color: #FF725C;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px auto;
    height: 50px;

}
  
.footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #1A2E35;
    height: 160px;
    padding: 20px 0;
    color: white;
    align-items: center;
}
  
.footer p {
    margin: 0;
 
}

.footer a{
    width: 127px;
    height: 18px;
    left: 124px;
    top: 4580px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 128.4%;
    /* identical to box height, or 18px */

    letter-spacing: 0.01em;

    color: #FFFFFF;
}
  
.footer .all-right {
    color: #888888;
    overflow: visible;
    font-size: 14px;
}
@media (max-width: 767.98px) {
    .footer .row {
      flex-wrap: wrap;
    }
    .footer .col-sm-12 {
      text-align: center;
    }
  }
  